adf-chinook-dwh/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-chinook-dwh"
		},
		"LS_Blob_Chinook_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_Blob_Chinook'"
		},
		"LS_Snowflake_MediaDW_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_Snowflake_MediaDW'"
		},
		"ls_blob_chinookstage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_blob_chinookstage'"
		},
		"ls_sql_chinook_oltp_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sql_chinook_oltp'"
		},
		"LS_KeyVault_Chinook_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-chinookkeys.vault.azure.net/"
		},
		"LS_Snowflake_MediaDW_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "MEDIA_DB"
		},
		"ls_sql_chinook_oltp_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "chinook-sql-server2025.database.windows.net"
		},
		"ls_sql_chinook_oltp_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Chinook"
		},
		"ls_sql_chinook_oltp_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "fall2025"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_Blob_Chinook')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_Blob_Chinook_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_KeyVault_Chinook')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_KeyVault_Chinook_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Snowflake_MediaDW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "QGZBGCD-LNA67589",
					"user": "NITISHCHOWDARYK",
					"database": "[parameters('LS_Snowflake_MediaDW_properties_typeProperties_database')]",
					"warehouse": "MEDIA_WH",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_Snowflake_MediaDW_password')]"
					},
					"schema": "STAGE"
				},
				"version": "1.1"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_blob_chinookstage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_blob_chinookstage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_chinook_oltp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql_chinook_oltp_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_chinook_oltp_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sql_chinook_oltp_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_chinook_oltp_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOAD_DATE_DIM",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_Snowflake_MediaDW",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "USE ROLE MEDIA_ROLE;\nUSE WAREHOUSE MEDIA_WH;\nUSE DATABASE MEDIA_DB;\nUSE SCHEMA DW;\n\n-- Clear if you want a full refresh\nTRUNCATE TABLE DATE_DIM;\n\nCREATE OR REPLACE TEMP TABLE rng AS\nSELECT \n  DATE_TRUNC('day', MIN(InvoiceDate)) AS start_d,\n  DATE_TRUNC('day', MAX(InvoiceDate)) AS end_d\nFROM MEDIA_DB.STAGE.Invoice;\n\nINSERT INTO DATE_DIM (\n  FULL_DATE, DAY_NUM, WEEKDAY_ABBR, WEEKDAY_NUM, DAY_OF_YEAR_NUM, WEEK_OF_YEAR,\n  MONTH_NUM, MONTH_ABBR, QUARTER_NUM, QUARTER_NAME, YEAR_NUM,\n  FIRST_DAY_OF_MONTH, LAST_DAY_OF_MONTH, IS_WEEKEND\n)\nSELECT\n  DATEADD('day', seq4(), start_d)::DATE AS FULL_DATE,\n  DAY(DATEADD('day', seq4(), start_d)) AS DAY_NUM,\n  TO_VARCHAR(DATEADD('day', seq4(), start_d), 'DY') AS WEEKDAY_ABBR,\n  DAYOFWEEK(DATEADD('day', seq4(), start_d)) AS WEEKDAY_NUM,\n  DAYOFYEAR(DATEADD('day', seq4(), start_d)) AS DAY_OF_YEAR_NUM,\n  WEEKISO(DATEADD('day', seq4(), start_d)) AS WEEK_OF_YEAR,\n  MONTH(DATEADD('day', seq4(), start_d)) AS MONTH_NUM,\n  TO_VARCHAR(DATEADD('day', seq4(), start_d), 'MON') AS MONTH_ABBR,\n  QUARTER(DATEADD('day', seq4(), start_d)) AS QUARTER_NUM,\n  CONCAT('Q', QUARTER(DATEADD('day', seq4(), start_d))) AS QUARTER_NAME,\n  YEAR(DATEADD('day', seq4(), start_d)) AS YEAR_NUM,\n  DATE_TRUNC('month', DATEADD('day', seq4(), start_d)) AS FIRST_DAY_OF_MONTH,\n  LAST_DAY(DATEADD('day', seq4(), start_d)) AS LAST_DAY_OF_MONTH,\n  IFF(DAYOFWEEK(DATEADD('day', seq4(), start_d)) IN (0,6), 'Y', 'N') AS IS_WEEKEND\nFROM rng, TABLE(GENERATOR(ROWCOUNT => 10000))\nWHERE seq4() <= DATEDIFF('day', start_d, end_d);\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "LOAD_TIME_DIM",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "LOAD_DATE_DIM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_Snowflake_MediaDW",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "USE ROLE MEDIA_ROLE;\nUSE WAREHOUSE MEDIA_WH;\nUSE DATABASE MEDIA_DB;\nUSE SCHEMA DW;\n\nTRUNCATE TABLE TIME_DIM;\n\nINSERT INTO TIME_DIM (HOUR_NUM, MINUTE_NUM, TIME_24_HR)\nSELECT \n  HOUR_NUM, \n  MINUTE_NUM, \n  LPAD(HOUR_NUM::STRING,2,'0') || ':' || LPAD(MINUTE_NUM::STRING,2,'0')\nFROM (\n  SELECT \n    (SEQ4() / 60)::INT AS HOUR_NUM,\n    (SEQ4() % 60)::INT AS MINUTE_NUM\n  FROM TABLE(GENERATOR(ROWCOUNT => 1440))\n);\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "LOAD_CUSTOMER_DIM",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "LOAD_TIME_DIM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_Snowflake_MediaDW",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "USE ROLE MEDIA_ROLE;\nUSE WAREHOUSE MEDIA_WH;\nUSE DATABASE MEDIA_DB;\nUSE SCHEMA DW;\n\nMERGE INTO CUSTOMER_DIM t\nUSING (\n  SELECT\n    CUSTOMERID,\n    FIRSTNAME,\n    LASTNAME,\n    COMPANY,\n    CITY,\n    STATE,\n    COUNTRY,\n    POSTALCODE,\n    SUPPORTREPID,\n    SHA2( TO_VARCHAR(CUSTOMERID) || '|' ||\n          UPPER(TRIM(FIRSTNAME)) || '|' || UPPER(TRIM(LASTNAME)) || '|' ||\n          NVL(UPPER(TRIM(COMPANY)),'') || '|' ||\n          UPPER(TRIM(CITY)) || '|' || UPPER(TRIM(STATE)) || '|' ||\n          UPPER(TRIM(COUNTRY)) || '|' || NVL(UPPER(TRIM(POSTALCODE)),'') || '|' ||\n          TO_VARCHAR(SUPPORTREPID), 256) AS HASH_VALUE\n  FROM MEDIA_DB.STAGE.CUSTOMER\n) s\nON t.CUSTOMER_ID = s.CUSTOMERID\nWHEN MATCHED AND t.HASH_VALUE <> s.HASH_VALUE THEN\n  UPDATE SET\n    FIRST_NAME   = s.FIRSTNAME,\n    LAST_NAME    = s.LASTNAME,\n    COMPANY      = s.COMPANY,\n    CITY         = s.CITY,\n    STATE        = s.STATE,\n    COUNTRY      = s.COUNTRY,\n    ZIP_CODE     = s.POSTALCODE,\n    EMPLOYEE_ID  = s.SUPPORTREPID,\n    HASH_VALUE   = s.HASH_VALUE,\n    DATE_TO_WAREHOUSE = CURRENT_TIMESTAMP()\nWHEN NOT MATCHED THEN\n  INSERT (CUSTOMER_ID, FIRST_NAME, LAST_NAME, COMPANY, CITY, STATE, COUNTRY, ZIP_CODE, EMPLOYEE_ID, HASH_VALUE, SOURCE_ID)\n  VALUES (s.CUSTOMERID, s.FIRSTNAME, s.LASTNAME, s.COMPANY, s.CITY, s.STATE, s.COUNTRY, s.POSTALCODE, s.SUPPORTREPID, s.HASH_VALUE, 'CHINOOK');\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "lOAD_ARTIST_DIM",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "LOAD_CUSTOMER_DIM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_Snowflake_MediaDW",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "USE ROLE MEDIA_ROLE;\nUSE WAREHOUSE MEDIA_WH;\nUSE DATABASE MEDIA_DB;\nUSE SCHEMA DW;\n\nMERGE INTO ARTIST_DIM t\nUSING (\n  SELECT ARTISTID, NAME\n  FROM MEDIA_DB.STAGE.ARTIST\n) s\nON t.ARTIST_ID = s.ARTISTID\nWHEN MATCHED THEN\n  UPDATE SET ARTIST_NAME = s.NAME, DATE_TO_WAREHOUSE = CURRENT_TIMESTAMP()\nWHEN NOT MATCHED THEN\n  INSERT (ARTIST_ID, ARTIST_NAME, SOURCE_ID)\n  VALUES (s.ARTISTID, s.NAME, 'CHINOOK');\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Load_SALES_FACT",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "lOAD_ARTIST_DIM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_Snowflake_MediaDW",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "USE ROLE MEDIA_ROLE;\nUSE WAREHOUSE MEDIA_WH;\nUSE DATABASE MEDIA_DB;\nUSE SCHEMA DW;\n\nINSERT INTO SALES_FACT (CUSTOMER_KEY, INVOICE_ID, DATE_DIM_KEY, TOTAL_SALE_AMT, SOURCE_ID)\nSELECT\n  c.CUSTOMER_KEY,\n  i.InvoiceId,\n  d.DATE_KEY,\n  i.Total,\n  1 AS SOURCE_ID\nFROM MEDIA_DB.STAGE.Invoice i\nJOIN DW.CUSTOMER_DIM c ON c.CUSTOMER_ID = i.CustomerId\nJOIN DW.DATE_DIM d     ON d.FULL_DATE   = CAST(i.InvoiceDate AS DATE)\nLEFT JOIN DW.SALES_FACT f ON f.INVOICE_ID = i.InvoiceId\nWHERE f.INVOICE_ID IS NULL;\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Validate_Counts",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Load_SALES_FACT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_Snowflake_MediaDW",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "USE ROLE MEDIA_ROLE;\nUSE WAREHOUSE MEDIA_WH;\nUSE DATABASE MEDIA_DB;\nUSE SCHEMA DW;\n\nSELECT 'DATE_DIM', COUNT(*) FROM DATE_DIM\nUNION ALL SELECT 'TIME_DIM', COUNT(*) FROM TIME_DIM\nUNION ALL SELECT 'CUSTOMER_DIM', COUNT(*) FROM CUSTOMER_DIM\nUNION ALL SELECT 'ARTIST_DIM', COUNT(*) FROM ARTIST_DIM\nUNION ALL SELECT 'SALES_FACT', COUNT(*) FROM SALES_FACT;\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-10-14T08:08:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Snowflake_MediaDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_generic_stage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_chinookstage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().TableName, '_', formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'), '.parquet')",
							"type": "Expression"
						},
						"container": "chinookstage"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_chinookstage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_generic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_chinook_oltp",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@split(dataset().TableName, '.')[0]",
						"type": "Expression"
					},
					"table": {
						"value": "@split(dataset().TableName, '.')[1]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_chinook_oltp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Copy_All_Tables_Parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_Table",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@json('[\"chinook.Artist\",\"chinook.Album\",\"chinook.Customer\",\"chinook.Invoice\",\"chinook.InvoiceLine\",\"chinook.Track\"]')\n",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy_SQL_to_Blob_Parquet",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sql_generic",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_blob_generic_stage",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-10-14T04:01:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql_generic')]",
				"[concat(variables('factoryId'), '/datasets/ds_blob_generic_stage')]"
			]
		}
	]
}